body{background-image: url(bg.jpg);
    background-size: cover;
}
.button{display: inline-block;
    background: rgba(0, 0, 0, 0.7);
    color: #eeeeee;
    
    font-size: 15px;
    padding: 3px;
    height:40px;
    width:150px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor:pointer;
    margin: 5px;
    font-style:oblique;
}
.button:hover {
    border-radius: 0.5rem;
    background: rgba(255,255,255,0);
    color : black;
    font-style:oblique;
    height:30px;
    width:140px;
}
h1{text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration-color:gray;  
}
legend , input {border-radius: 0.5rem;
    background: rgba(255,255,255,0);
    color : black;
    font-style:oblique;
    height:30px;
    width:140px;
    
    }
fieldset{font-style:oblique;
        }
textarea , select{border-radius: 0.5rem;
    background: rgba(255,255,255,0);
    color : black;
    font-style:oblique;
    height:50px;
    width:140px;}